/**GENERAL*/

a {
    text-decoration: none;
}

button {
    border: none;
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

.button {
    width: 200px;
    height: 30px;
}

button:hover {
    cursor: pointer;
    background-color: #5A5A8C;
}

html, body {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    max-width: 100vw;
}

/**FONTS*/

.cursive-font {
    font-family: 'Dancing Script', cursive;
}

.main-font-bold {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

.main-font {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

nav > *,
h3 {
    font-size: 2em;
}

h2 {
    font-size: 3em;
}

/**COLORS*/

.section-color-text {
    color: #FFF;
}

.background-light {
    background-color: #D1D1E9;
}

.background-medium {
    background-color: #8282B5;
}

.background-dark {
    background-color: #5A5A8C;
}

.background-darkest {
    background-color: #030027;
}

.text-darkest {
    color: #030027;
}

.button-color {
    background-color: #6C6C6C;
}


/**HEADER*/

.header {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    margin: auto;
    min-height: 100vh;
}

nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: baseline;
}
nav > a {
    padding: 1rem;
}

nav > a:hover {
    color:#5A5A8C;
}

.pegg-logo {
    width: 70%;
}
/**SECTIONS*/

section {
    padding: 1rem;
}

.section-title {
    display: flex;
}

.section-title > h2 {
    width: 52.5%;
    text-align: right;
}

.section-item {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: center;
    width: 90%;
    margin: auto;
    min-height: 100vh;
}

#contact .section-item {
    min-height: auto;
}


.picture-section {
    display: flex;
    justify-content: right;
    width: 100%;
    height: 50%;
}

.picture-section > img {
    max-width: 50%;
}


.picture-section > img:hover {
   transform: scale(1.2);
   transition: transform .2s ease-in-out;
}

.text-block {
    line-height: 1.5em;
}

.text-section {
    margin: 0 5% 0 5%;
}

/*ABOUT*/
.pegg-picture-section {
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-top: 2rem;
}

.pegg-picture {
    border-radius: 50%;
    max-width: 50%;
}

/*CONTACT*/

.tweet-div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.tweet-button {
    height: 90%;
}

.contact-section {
  min-width: 20%;
  display: flex;
  justify-content: right;
  margin-right: 5%;
}

/**MEDIA QUERIES**/

@media (min-width: 320px) and (max-width: 767px) {
    nav > a:hover {
        color:#030027;
    }
   
    .section-item {
       flex-flow: column wrap;
       justify-content: center;
       align-items: center;
       margin: auto;
       text-align: center;
   }
   .section-title > h2 {
    width: 50%;
    margin: auto auto 1rem auto;
    text-align: center;
    }

   .picture-section > img,
   .pegg-picture {
        max-width: 50%;
        margin: auto;
    }

    .tweet-div {
        margin: auto;
    }

    .picture-section > img:hover {
        transform: none;
     }
  }


  /**ANIMATIONS*/

  .swing-in-top-bck {
	-webkit-animation: swing-in-top-bck 2s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	        animation: swing-in-top-bck 2s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-3-22 8:4:55
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation swing-in-top-bck
 * ----------------------------------------
 */
 @-webkit-keyframes swing-in-top-bck {
    0% {
      -webkit-transform: rotateX(70deg);
              transform: rotateX(70deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 1;
    }
  }
  @keyframes swing-in-top-bck {
    0% {
      -webkit-transform: rotateX(70deg);
              transform: rotateX(70deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 1;
    }
  }
  
  .flip-in-diag-2-tl {
	-webkit-animation: flip-in-diag-2-tl 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: flip-in-diag-2-tl 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-3-22 8:37:29
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-in-diag-2-tl
 * ----------------------------------------
 */
 @-webkit-keyframes flip-in-diag-2-tl {
    0% {
      -webkit-transform: rotate3d(-1, 1, 0, 80deg);
              transform: rotate3d(-1, 1, 0, 80deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotate3d(1, 1, 0, 0deg);
              transform: rotate3d(1, 1, 0, 0deg);
      opacity: 1;
    }
  }
  @keyframes flip-in-diag-2-tl {
    0% {
      -webkit-transform: rotate3d(-1, 1, 0, 80deg);
              transform: rotate3d(-1, 1, 0, 80deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotate3d(1, 1, 0, 0deg);
              transform: rotate3d(1, 1, 0, 0deg);
      opacity: 1;
    }
  }
  